.status {
    margin-bottom: 10px;
}

ol.movesList {
    padding-left: 0px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    position: fixed;
    padding: 60px;
    background-color: var(--main-grey);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    justify-self: center;

    box-shadow: 0px -10px var(--main-grey); 
}

.game-info {
    margin-left: 40px;
    color: var(--main-white);
}

@media screen and (max-width: 600px) {
    .game {
        display: flex;
        row-gap: 1em;
        flex-direction: column;
        justify-content: center;
        transform: translate(-12.5%, 0);
    }

    .game-board-wrapper {
        display: flex;
        justify-content: center;
    }

    .game-board {
        width: 341px;
        height: 341px;
        display: flex;
        justify-content: center;
    }

    .game-info {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .sortingButton {
        padding: 0.25em;
        width: 8em;
        align-self: center;
    }
    .game-status {
        align-self: center;
    }

    .movesList {
        align-self: center;
    }
}

.btn {
    background-color: var(--main-red);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 3px;
    border: 0px;
    padding: 5px;
    margin-top: 3px;
}

.sortingButton {
    padding: 1em;
}

.game-board-wrapper {
    position: relative;
}

.game-board {
    width: 100%;
    height: 100%;
}

.restartPopup {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restartButton {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    border-radius: 3px;
    background-color: rgb(190, 59, 65, 0.9);
    color: white;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#emphazised {
    font-weight: bold;
}

div.game-status {
    font-size: 3em;
    color: val(--main-white);
}