ol, ul {
    padding-left: 30px;
}

.board {
    background: var(--main-white);
    padding: 20px;
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #999;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

@media screen and (max-width: 600px) {
    .board {
        width: 300px;
        height: 300px;
    }
}

.board-row {
    display: flex;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square:focus {
    outline: none;
}

button.square-highlighted {
    background: var(--main-blue);
    border: 1px solid #999;
    float: left;
    font-size: 4em;
    font-weight: bold;
    line-height: 1.8em;
    height: 1.8em;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 1.8em;
}

.square-normal {
    background: var(--main-white);
    border: 1px solid #999;
    float: left;
    font-size: 4em;
    font-weight: bold;
    line-height: 1.8em;
    height: 1.8em;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 1.8em;
}