ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

.App {
  margin-top: 70px;
}


/* Contact info */


.contact {
  background-color: var(--main-grey);
  width: 100%;
  height: 85vh;
  border-bottom: 0.5rem solid var(--main-blue);
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 1) 0px 5px 10px inset;
}

.contact-header {
  font-family: 'Raleway', sans-serif;
  padding-top: 8rem;
  justify-self: center;
  font-size: 4rem;

}

.contact-links {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 940px;
}

.contact-link {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 3rem;
  text-shadow: 5px 3px 2px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-link:hover {
  transform: translateY(10px);
}

footer {
  width: 100%;
  height: 15vh;
  background-color: var(--main-grey);
}
