:root {
  --main-blue: #51A4F7;
  --main-red: #911F23;
  --main-grey: #303841;
  --main-white: #f0f0f0;
  --main-orange: #ffa500;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--main-white);
  height: 100%;
  width: 100%;
}

div#root {
  height: 100%;
  width: 100%;
}

div.app {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.8rem;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
